
//- Blog List Post
//- ===============
section.section(lang='pt-br' itemscope itemtype='http://schema.org/Blog')

  header.blog
    h2.title Projects, thoughts, everything...

  for post in public.blog._data
    a.blog__link(href='/blog/#{ post.path }' title='Ver o post #{ post.title }')
      article.blog__post
        p.blog__author(itemprop='author') Teste
        time.date(itemprop='dateCreated') #{ post.date }
        h1.blog__title(itemprop='name') #{ post.title }
        p.blog__text(itemprop='description') #{ post.description }
