

//- Home
//---------------------------------------
section#home.section__home
  h1.title__home.title--glitch welcome to my
    strong
      span(data-glitch="p") p
      span(data-glitch="l") l
      span(data-glitch="a") a
      span(data-glitch="y") y
      span(data-glitch="g") g
      span(data-glitch="r") r
      span(data-glitch="o") o
      span(data-glitch="u") u
      span(data-glitch="n") n
      span(data-glitch="d") d

  h2.caption creative and unique developer



//- About
//---------------------------------------
section#about.section__about
  div.avatar__block(itemscope="" itemtype='http://schema.org/Person')
    img.avatar__img(src="https://avatars3.githubusercontent.com/u/15808041" alt="André Mendes")

    div.section__title
      h1.avatar__name(itemprop='name') André Mendes
      h2.avatar__subtitle #[strong(itemprop='jobTitle') Front-End Developer]
      p.flow-text
        | A highly motivated guy, graduated in advertising with experience in
        | Design and Development. I've worked with several larger and smaller
        | brands and I am a fan of a good challenge and open source enthusiastic.


//- Blog
//---------------------------------------
section.section(lang='pt-br')

  header.blog
    h2.title Projects, thoughts, everything...

  - var postCount = 0
  for post in public.blog._data
    if postCount < 3
      a.blog__link(href='/blog/#{ post.path }' title='Ver o post #{ post.title }'
        itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost")
        article.blog__post
          time.date #{ post.date }
          h1.blog__title #{ post.title }
          p.blog__text #{ post.description }

      - postCount++;

  a.btn--link(href='/blog/' title='View more posts') Want to see more? Check this out!
