
//- About
//---------------------------------------
section.section__about
  div.avatar(itemscope="" itemtype='http://schema.org/Person')
    img.avatar__img(src="https://avatars3.githubusercontent.com/u/15808041" alt="André Mendes")

    div.section__title
      h1.avatar__name(itemprop='name') André Mendes
      h2.avatar__subtitle(itemprop='jobTitle') Front-End Developer 
      p.flow-text
        | A highly motivated guy, degree in advertising and graduate student in
        | Web and Mobile Development with a little experience in Design ;)
        | I've worked with medium and smaller brands and I am a fan of a good
        | challenge and UX enthusiastic. 
      p.flow-text
        | Currently I am doing a lot of cool stuffs at 
        |  #[a.btn__link--light(href="http://redventures.com" target="_blank" title="Red Ventures") Red Ventures] :)

      ul.social-media
        li
          a.social-media__link(href="https://github.com/andre-mendes"
            title="Github" aria-label="Github" target="_blank")
            i.fa.fa-github(aria-hidden="true")
        li
          a.social-media__link(href="https://br.linkedin.com/in/andremdc"
            title="LinkedIn" aria-label="LinkedIn" target="_blank")
            i.fa.fa-linkedin-square(aria-hidden="true")
        li
          a.social-media__link(href="http://codepen.io/andremendes/" title="Codepen"
            aria-label="Codepen" target="_blank")
            i.fa.fa-codepen(aria-hidden="true")
        li
          a.social-media__link(href="https://twitter.com/mendes_adc" title="Twitter"
            aria-label="Twitter" target="_blank")
            i.fa.fa-twitter(aria-hidden="true")
        li
          a.social-media__link(href="https://www.facebook.com/mdc.andre"
            title="Facebook" aria-label="Facebook" target="_blank")
            i.fa.fa-facebook-official(aria-hidden="true")

//- Blog
//---------------------------------------
section.section(lang='pt-br')

  header.blog
    h2.title Projects, thoughts, everything...

  - var postCount = 0
  for post in public.blog._data
    if postCount < 2
      a.blog-thumb(href='/blog/#{ post.path }' title='Ver o post #{ post.title }'
        itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost")
        article
          time.date #{ post.date }
          h1.blog-thumb__title #{ post.title }
          p.blog-thumb__text #{ post.description }

      - postCount++;

  a.btn__link(href='/blog/' title='View more posts') Want to see more? So check this out!
