
//- Projects
//- ===============
section.section

  header
    h2.title Projects

  .project-grid
    for project, slug in public.projects._data

      a.box(href='#{ project.path }' title='View project' target='_blank')
        picture.project__picture
          img(src='/assets/img/projects/#{ project.image }' alt="Thumbnail of #{ project.title }'s")
        div.box-content
          h2.title #[strong #{ project.description }]
          span.post #{ project.category }
